/* For Desktops/Large screens */
#content,

html {
    line-height: 4em;
}

body {
    background-color: cornflowerblue;
    width: 60em;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    text-rendering: optimizeLegibility;
}

h1 {
    background-color:cornflowerblue;
    font-size: 4em;
    padding: 0.5em;
    
}

h2 {
    background-color: cornflowerblue;
    font-size: 2em;
    border-bottom: 2px solid;
}

p {
    font-size: 1.25em;
    
}


form{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25%;
    background-color: grey;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

label {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    align-items: flex-start;
}

input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    border: 1px solid;
    border-radius: 2px;
    font-size: 1em;
    line-height: 1em;
}

input[type="submit"] {
    background-color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 1% 2%;
    cursor:grab;
}

/* Media queries */
/*1280 Screens and 1080 Screens*/
@media(min-width:1024px){
    #content{
      margin:50px auto;
      padding: 20px;
      width: 80%;
      max-width: 800px;
    }
    input[type="text"], input[type="email"], input[type="tel"]{
      width: 400px;
      font-size: 20px;
   }
    input[type="submit"]{
      font-size: 22px;
    }
  }
  @media(min-width:1280px){
    #content{
      margin:50px auto;
      padding: 20px;
      width: 80%;
      max-width: 1000px;
   }
   input[type="text"], input[type="email"], input[type="tel"]{
      width: 500px; 
      font-size: 22px;
   }
   input[type="submit"]{
      font-size: 24px;
   }
  }
